= form_for @prototype, html: { class: "container proto-new" } do |f|
  .col-md-8.col-md-offset-2
    %header.row.user-nav.row
      .col-md-12
        = f.text_field :title, placeholder: "Title", class: "proto-new-title"
    .row
      .col-md-12
        .cover-image-upload
          = f.fields_for :thumbnails, @prototype.thumbnails.main do |t|
            = t.file_field :image
            %img#main_preview{ src: @prototype.thumbnails.main.first!.image}
            = t.hidden_field :property, value: "main"
      .col-md-12
        %ul.proto-sub-list.list-group
          - f.object.thumbnails.sub.each_with_index do |sub, i|
            %li.list-group-item.col-md-4.sub_image_form.appear_form
              .image-upload{ id: "image_#{i}_uploader" }
                = f.fields_for :thumbnails, sub do |t|
                  = t.file_field :image
                  %img.sub_image{ id: "sub_#{i}_preview", src: t.object.image }
                  = t.hidden_field :property, value: "sub"
          - (f.object.thumbnails.sub.count..2).each do |i|
            %li.list-group-item.col-md-4.sub_image_form.hide_form
              .image-upload{id: "image_#{i}_uploader"}
                = f.fields_for :thumbnails, @thumbnail do |t|
                  = t.file_field :name
                  %img.sub_image{id: "sub_#{i}_preview"}
                  = t.hidden_field :property, value: "sub"
          - unless f.object.thumbnails.sub.count == 3
            %li.list-group-item.col-md-4.add_sub_image_form
              .image-upload-plus
                %span +
    .row.proto-description
      .col-md-12
        = f.text_field :catchcopy, placeholder: "Catch Copy"
      .col-md-12
        = f.text_area :concept, placeholder: "Concept", cols: "30", rows: "4"
      .col-md-12
        %h4 Tag List
        .row
          .col-md-3
            = text_field_tag 'tag_list[]', nil, placeholder: "Web Design"
          .col-md-3
            = text_field_tag 'tag_list[]', nil, placeholder: "UI"
          .col-md-3
            = text_field_tag 'tag_list[]', nil, placeholder: "Application"
    .row.text-center.proto-btn
      = f.submit "Publish", class: "btn btn-lg btn-primary btn-block"


:javascript
  $(function(){
    var $mainimg = $(".cover-image-upload input[type = file]");
    var $subimg0 = $("#image_0_uploader input[type = file]");
    var $subimg1 = $("#image_1_uploader input[type = file]");
    var $subimg2 = $("#image_2_uploader input[type = file]");
    var $addNewForm = $(".add_sub_image_form")
    var $hideForm = $(".hide_form")

    check_subimg(0)
    check_subimg(1)
    check_subimg(2)

    $mainimg.change(function(){
      proto_main_image(this)
    });

    $subimg0.change(function(){
      proto_sub_image(this, 0)
    });

    $subimg1.change(function(){
      proto_sub_image(this, 1)
    });

    $subimg2.change(function(){
      proto_sub_image(this, 2)
    });

    $addNewForm.click(function(){
      add_new_form_in_edit()
    });
  });
